<parallax-view [head-height]="mapHeight">
    <ContentView [height]="mapHeight" backgroundColor="white" head>
        <Mapbox id="map" accessToken="pk.eyJ1IjoidGFyYXNmbyIsImEiOiJjajA4aHl1eDIwMDI5MnFteGl6MWNhMHZpIn0.wx1OIZ2vFuhAvK22OqfhMQ" 
            mapStyle="streets" 
            latitude="50.7385045272041"
            longitude="25.32177474894175" 
            zoomLevel="15" 
            showUserLocation="true" 
            (mapReady)="onMapReady($event)">
        </Mapbox>
    </ContentView>
    <StackLayout class="body-template" body>
        <CardView class="cardStyle" margin="5" elevation="40" radius="1" >
            <GridLayout columns="*,*,*, *" rows="*,*">
                <StackLayout orientation="vertical" style="vertical-align: stretch;">
                    <Label class="h4" [text]="distanceTemplate.label[lang]" textWrap="true" style="text-align: center"></Label> 
                    <Label class="h4" [text]="distanceToItem" textWrap="true" style="text-align: center"></Label> 
                </StackLayout>
                <Button id="prev_button" col="1" [text]="'fa-step-backward' | fonticon" class="fa h3" backgroundColor="#f2f2f2" margin="2" (tap)="prevItem()"></Button>
                <Button id="play_button" col="2" [text]="!audioIsPlaying ? '&#xf04b;' : '&#xf04c;'" class="fa h3" backgroundColor="#f2f2f2" margin="2" (tap)="playPause()"></Button>
                <Button id="next_button" col="3" [text]="'fa-step-forward' | fonticon" class="fa h3" backgroundColor="#f2f2f2" margin="2" (tap)="nextItem()"></Button>
                <Progress col="0" row="1" colSpan="4" [value]="audioProgressValue" maxValue="100" class="m-20"></Progress>
            </GridLayout>
        </CardView>
        <ActivityIndicator *ngIf="!dataLoaded" class="activity-indicator" width="50" height="50" busy="true"></ActivityIndicator>
        <CardView id="content" class="cardStyle" margin="5" elevation="40" radius="1" >
            <StackLayout *ngIf="dataLoaded" orientation="vertical">
                <Label [text]="currentItem.title[lang]" style="text-align: center" class="h2" textWrap="true"></Label>
                <Image *ngIf="itemImageLoaded" [src]="currentItemImage" stretch="fill"></Image> 
                <Gif *ngIf="!itemImageLoaded" src="~/images/image_loading.gif" stretch="fill"></Gif>
                <TextView editable="false" [text]="currentItem.text[lang]"></TextView>
            </StackLayout>
        </CardView>
    </StackLayout>
</parallax-view>
